@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at top, rgba(111, 156, 235, 0.25), transparent 45%),
    #030303;
}

section {
  width: 100%;
}
